<% include partials/header %>
    <div class="container">
        <h1 style="text-align:center;color:white">Facial Analysis Tool</h1>
        <div class="row">
            <div class="col s12 m6">
                <div class='custom-container'>
                    <p>Picture</p>
                    <hr>
                    <img src="<%= image %>">
                    <a href="/upload" class="btn-large light-blue darken-4" style="margin-top:5%">Analyze Another Image</a>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="custom-container">
                    <p>Analysis</p>
                    <hr>
                    <% results.faces.map(face => { %>
                        <p class="attribute">Gender: <span style='color:rgb(195, 0, 255);font-weight:bold'><%= face.attributes.gender.value %></span></p>
                        <p class="attribute">Age: <span style='color:rgb(195, 0, 255);font-weight:bold'><%= face.attributes.age.value %></span></p>
                        <p class="attribute">Ethnicity: <span style='color:rgb(195, 0, 255);font-weight:bold'><%= face.attributes.ethnicity.value %></span></p>
                        <p>Emotions</p>
                        <hr>
                        <p class="attribute">Neutral: <span style='color:rgb(0, 153, 255);font-weight:bold'><%= face.attributes.emotion.neutral %>%</span></p>
                        <p class="attribute">Sad: <span style='color:rgb(132, 0, 255);font-weight:bold'><%= face.attributes.emotion.sadness %>%</span></p>
                        <p class="attribute">Happy: <span style='color:rgb(255, 0, 140);font-weight:bold'><%= face.attributes.emotion.happiness %>%</span></p>
                        <p class="attribute">Disgust: <span style='color:rgb(4, 119, 23);font-weight:bold'><%= face.attributes.emotion.disgust %>%</span></p>
                        <p class="attribute">Angry: <span style='color:rgb(255, 0, 0);font-weight:bold'><%= face.attributes.emotion.anger %>%</span></p>
                        <p class="attribute">Surprise: <span style='color:rgb(1, 103, 110);font-weight:bold'><%= face.attributes.emotion.surprise %>%</span></p>
                        <p class="attribute">Fear: <span style='color:rgb(202, 132, 2);font-weight:bold'><%= face.attributes.emotion.fear %>%</span></p>
                    <% }) %>
                </div>
                
            </div>
        </div>
    </div>



<% include partials/footer %>